<section id="twinquiries">
  <form novalidate ng-submit="sendTweet()">
    <input ng-model="sendTw.message">
    <button type="submit" class="btn btn-submit">Tweet</button>
  </form>
  <h3>Twinquiries go here:</h3>
  <input ng-model="tw.query">
  <a ng-click="getTweets()" class="btn btn-info" style="margin: 5px">Get muh tweets.</a>
  <pre>{{tweets|json}}</pre>
  <div class="tweets" ng-repeat="tweet in tweets" style="margin: 5px">
    <img ng-src="{{tweet.user.profile_image_url}}"/>
    <span><strong>{{tweet.user.screen_name}}:</strong> {{tweet.text}}</span>
  </div>
  <hr>
  <h3>User Inquiries go here:</h3>
  <input ng-model="tw.user">
  <a ng-click="getUser()" class="btn btn-info" style="margin: 5px">Get muh tweets.</a>
  <pre>{{userInfo|json}}</pre>

</section>
